*{
    color: white;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgb(5, 22, 62), rgb(7, 27, 68));
}

h1 {
    font-weight: 100;
}

#video, #canvas{
    position: absolute;
    box-shadow: 25px 25px 25px 0px rgba(0,0,0,.2);
}
#canvas{
    background: transparent;
}

.video-wrapper{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 540;
    width: 720;
}